$primary: #009C8C;

@import "../../public/bootstrap-5.0/scss/functions";
@import "../../public/bootstrap-5.0/scss/variables";
@import "../../public/bootstrap-5.0/scss/mixins";
@import "../../public/bootstrap-5.0/scss/utilities";
@import "../../public/bootstrap-5.0/scss/root";
@import "../../public/bootstrap-5.0/scss/reboot";
@import "../../public/bootstrap-5.0/scss/grid";
@import "../../public/bootstrap-5.0/scss/forms";
@import "../../public/bootstrap-5.0/scss/buttons";
@import "../../public/bootstrap-5.0/scss/alert";
@import "../../public/bootstrap-5.0/scss/utilities/api";

a{
    text-decoration: none !important;
}

.ml-16personalized{
    margin-left: 16px;
}

//Boton menu desplegable
.btn-link{
    outline-width: 0!important;
    box-shadow: none !important;
}

.btn-link:hover{
    color: #e9ecef !important;
}
.btn-margin{
    margin-left: 5%;
}

@import "funciones";
//Boton modo oscuro y claro
.switch{
    @include botonusua(#15838b,relative,flex,none);
    border: none;
    cursor: pointer;
    outline-width: 0 !important;

    &::after{
        @include botonusua(#F1F1F1,absolute,block,0px 0px 2px 2px rgba(0,0,0,.2));
        content: "";
        width: 30px;
        height: 30px;
        top: 2%;
        left: .1em;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
    }
    .fa-sun, .fa-moon{
        margin-top:7 !important;
    }

    &.active{
        background: orange;
        &::after{
            right: .1em;
            left: unset;
        }
    }

    span{
        width: 30px;
        height: 32px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}

body.dark{
    background-color: #282828 !important;
    @include modoscla(white,null);
    color: white !important;

    .sb-sidenav{
        background-color: #282828 !important;
    }

    .enlace{
        @include modoscla(white,null);
    }

    .enlace:hover,.text-primary{
        @include modoscla(#15838b,null);
    }

    .enlace.active{
        @include modoscla(white,underline);
    }

    .bg-primary{
        background-color: #15838b !important;
    }

    .dropdown-item:active{
        background: none !important;
        a{
            color: black !important;
        }
    }

    a.enlaceprin{
        background: #15838b !important;
    }

    .paginacion{
        .page-link{
            color: #15838b !important;
            background-color: #282828;
        }

        .page-item.active .page-link{
            background-color: #15838b !important;
            color: white !important;
            border-color: white !important;
        }
    }

    .solicitudes{
        background-color: #15838b !important;
        span,.fecha{
            color: white !important;
        }
    }

    .card-footer,.datosusu{
        background-color: rgba(255,255,255,0.6) !important;
    }

    .comentario{
        color: white !important;
    }

    .botoncoment{
        background-color: #15838b !important;
    }

    .botoncoment:active{
        background-color: #15838b !important;
        outline-width: 0 !important;
        box-shadow: none !important;
    }

    .dropright{
        background-color: transparent !important;
        border: 1px solid $primary !important;
        a{
            color: $primary !important;
        }
        a:hover,a:active,a:focus{
            background-color: transparent !important;
            color: white !important;
        }
    }

    .listmenu{
        background-color: transparent !important;
        border: 1px solid $primary !important;
        a{
            color: $primary !important;
        }
        a:hover{
            color: white !important;
        }
    }

    .col-sm-3.col-md-2:hover{
        color: white !important;
    }
}

.dropdown-item:active{
    background: none !important;
    color: black !important;
}

.nav-link:hover,.enlace:hover{
    @include modoscla($primary,null);
}

.enlace.active{
    @include modoscla(black,underline);
}

.menusuario{
    @include modoscla(white,null);
}

.menusuario:hover{
    @include modoscla(black,null);
}

a.enlaceprin{
    background: $primary !important;
}

.paginacion{
    .page-link{
        color: $primary !important;
        outline-width: 0 !important;
        box-shadow: none !important;
    }

    .page-item.active .page-link{
        background-color: $primary !important;
        color: white !important;
        border-color: $primary !important;
    }
}

.card-footer{
    background-color: rgba(0,0,0,0.05) !important;
}

.solicitudes{
    a:hover{
        background-color: black;
    }
}

.datosusu{
    background-color: white !important;
}

#map{
    height: 200px;
}

.leaflet-popup-content-wrapper,.leaflet-popup-tip{
    background-color: #ccebe8 !important;
    border-color: #ccebe8 !important;
    color: #005e54 !important;
}

p{
    margin-bottom: 0 !important;
}

.anacomenta{
    outline-width: 0 !important;
    box-shadow: none !important;
}

.anacomenta:focus{
    border-color: lightgray !important;
}

.botoncoment:active{
    background-color: $primary !important;
    outline-width: 0 !important;
    box-shadow: none !important;
}

.filtrar{
    border-radius: .3em !important;
}

.filtrado{
    margin-bottom: 95px !important;
}

.listmenu{
    top: -60px !important;
}

.nav-link.p-0:hover{
    color: black !important;
}

#layoutSidenav_content{
    justify-content: flex-start !important;
}

@media (max-width: 393px) {
    .h-25.text-white{
        width: 100% !important;
    }
}

