$enable-shadows: true !default;
@import "../../public/bootstrap-4.0.0/scss/functions.scss";
@import "../../public/bootstrap-4.0.0/scss/variables";
@import "../../public/bootstrap-4.0.0/scss/mixins.scss";




.w-8{
    width: 8%;
}
.w-5{
    width: 5%;
}
.h-40{
    height: 40%;
}

.ml-5personalized{
    margin-left: 5%;
}

 .switch {
     position: relative;
     display: inline-block;
     width: 56px;
     height: 28px;
 }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
#layoutSidenav_nav .nav-link{
    color: #6c757d !important;
}
#layoutSidenav_nav .nav-link:hover{
    color: #A9E159 !important;
}
.border-pistacho{
    border: 1px solid #A9E159;
}
.jumbotron button:focus {
    outline-color: #addb6b !important;
}
.jumbotron a{
    font-size: 1.3em !important;
}
.bg-pistacho> span{
    font-size: 1.1em !important;
    margin: 0 10px;
}

@media (max-width: 1400px) {
    .w-8{
        width: 12%;
    }

}
@media (max-width: 1000px) {
    .w-8{
        width: 15%;
    }

}
@media (max-width: 800px) {
    .w-8{
        width: 25%;
    }

}
@media (max-width: 600px) {
    .w-8{
        width: 40%;
    }

}






