$primary: #009C8C;

@import "../../public/bootstrap-5.0/scss/functions";
@import "../../public/bootstrap-5.0/scss/variables";
@import "../../public/bootstrap-5.0/scss/mixins";
@import "../../public/bootstrap-5.0/scss/utilities";
@import "../../public/bootstrap-5.0/scss/root";
@import "../../public/bootstrap-5.0/scss/reboot";
@import "../../public/bootstrap-5.0/scss/grid";
@import "../../public/bootstrap-5.0/scss/forms";
@import "../../public/bootstrap-5.0/scss/buttons";
@import "../../public/bootstrap-5.0/scss/alert";
@import "../../public/bootstrap-5.0/scss/utilities/api";

a{
    text-decoration: none !important;
}

.ml-16personalized{
    margin-left: 16px;
}

//Boton menu desplegable
.btn-link{
    outline-width: 0!important;
    box-shadow: none !important;
}

.btn-link:hover{
    color: #e9ecef !important;
}
.btn-margin{
    margin-left: 6% !important;
}


.fr-wrapper .show-placeholder{
    z-index: -999 !important;
}

@import "funciones";
//Boton modo oscuro y claro
.switch{
    @include botonusua(#15838b,relative,flex,none);
    border: none;
    cursor: pointer;
    outline-width: 0 !important;

    &::after{
        @include botonusua(#F1F1F1,absolute,block,0px 0px 2px 2px rgba(0,0,0,.2));
        content: "";
        width: 30px;
        height: 30px;
        top: 1px;
        left: .1em;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
    }

    &.active{
        background: orange;
        &::after{
            right: .1em;
            left: unset;
        }
    }

    span{
        width: 30px;
        height: 32px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}

body.dark{
    background-color: #282828 !important;
    @include modoscla(white,null);
    color: white !important;

    .sb-sidenav{
        background-color: #282828 !important;
    }

    .enlace{
        @include modoscla(white,null);
    }

    .enlace:hover,.text-primary{
        @include modoscla(#15838b,null);
    }

    .enlace.active{
        @include modoscla(white,underline);
    }

    .bg-primary{
        background-color: #15838b !important;
    }

    a.enlaceprin{
        background: #15838b !important;
    }

    .dropdown-item:active{
        background-color: white !important;
        color: black;
    }
}

.dropdown-item:active{
    background-color: white !important;
    color: black;
}

.nav-link:hover,.enlace:hover{
    @include modoscla($primary,null);
}

.enlace.active{
    @include modoscla(black,underline);
}

.menusuario{
    @include modoscla(white,null);
}

.menusuario:hover{
    @include modoscla(black,null);
}

a.enlaceprin{
    background: $primary !important;
}

.paginacion{
    overflow: auto !important;
}

